.App {
  text-align: center;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.live-value {
  color: white;
  font-size: calc(100px + 2vmin);
  padding: 5%;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
}

.value-title {
  font-size: calc(25px + 2vmin);
}
