# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  frontend-testing:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./battery-ui
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./battery-ui/package-lock.json
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Prettier
        run: npm run prettier
      - name: Build
        run: npm run build
  frontend-deploy:
    runs-on: ubuntu-latest
    # defaults:
    # run:
    # working-directory: ./battery-ui
    needs: [frontend-testing]
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Build Docker Image
        # env:
        #   ECR_REGISTRY:
        #   IMAGE_NAME:
        #   VERSION:
        run: |
          docker build ./battery-ui -t battery-ui-fe
        # I don't have a docker account :)
